{% extends '../base.html' %}
{% block title %}login{% endblock %}
{% block content %}
    <div class="container">
        <main class="pt-5">
            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-first bg-light">
                    <form action={% url 'account:login' %} method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </main>
    </div>

{% endblock %}