{% extends "../base.html" %}
{% load static %}
{% block title %}
    summary
{% endblock %}
{% block content %}


    <main>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="pb-3 h5">{{ category.name|title }}</div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                    {% for item in basket %}
                        {% with product=item.product %}

                            <div class="col product-item" data-index="{{product.id}}">
                                <div class="card shadow-sm">
                                    <img class="img-fluid" alt="Responsive image"
                                         src="{{ product.image.url }}">

                                    <div class="card-body">
                                        <p class="card-text">
                                            <a class="text-dark text-decoration-none"
                                               href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </p>
                                        <p>{{ item.total }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">9min read</small>
                                        </div>
                                    </div>
                                </div>
                                <select id="select{{ product.id }}" style="width:50px;height:31px;">
                                    <option value="" selected disabled hidden>{{ item.qty }}</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>
                                <a type="button" id="update-button" data-index="{{ product.id }}"
                                   class="update-button text-decoration-none small ps-3">Update</a>
                                <a type="button" id="delete-button" data-index="{{ product.id }}"
                                   class="delete-button text-decoration-none small">Delete</a>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <p id="total">{{ total }}</p>
                    <p id="subtotal">{{ subtotal }}</p>
                </div>
            </div>
        </div>
    </main>

    <script>
        // Delete Item
        $(document).on("click", ".delete-button", function (e) {
            e.preventDefault();
            var prodid = $(this).data("index");
            $.ajax({
                type: "POST",
                url: '{% url "shop:basket_delete" %}',
                data: {
                    productid: $(this).data("index"),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: "post",
                },
                success: function (json) {
                    $('.product-item[data-index="' + prodid + '"]').remove();

                    if (json.qty == 0) {
                        total = 0
                        subtotal = 0
                    } else {
                        total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
                        subtotal = json.subtotal
                    }

                    document.getElementById("subtotal").innerHTML = subtotal;
                    document.getElementById("basket-qty").innerHTML = json.qty;
                    document.getElementById("total").innerHTML = total;
                },
                error: function (xhr, errmsg, err) {
                },
            });
        });

        // Update Item
        $(document).on("click", ".update-button", function (e) {
            e.preventDefault();
            var prodid = $(this).data("index");
            $.ajax({
                type: "POST",
                url: '{% url "shop:basket_update" %}',
                data: {
                    productid: $(this).data("index"),
                    productqty: $("#select" + prodid + " option:selected").text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: "post",
                },
                success: function (json) {

                    total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
                    document.getElementById("basket-qty").innerHTML = json.qty;
                    document.getElementById("subtotal").innerHTML = json.subtotal;
                    document.getElementById("total").innerHTML = total;
                },
                error: function (xhr, errmsg, err) {
                },
            });
        });
    </script>


{% endblock %}